# Python cache
__pycache__/
*.py[cod]

# Test cache
build/
dist/
*.egg-info/
*.egg

# virtual environment
.venv/
venv/
.test_venv/

# microsoft file
*.docx
~$*.docx
~$*.pptx

# specific file
mtDNAmatcher/Data/23andme*
mtDNAmatcher/Data/AADR_Annotation_2025.xlsx
